.brand-and {
    font-family: 'Allura', cursive;
    color:#d89aa9;
  }

.brand-initial {
    font-size: 22px;
    color:#d89aa9;
    font-family:Arial, Helvetica, sans-serif;
}

.bg-steel {
  background-color: #fadade;
  position: relative;
  z-index: 1;
}

.site-header .navbar-nav .nav-link {
  font-family: Georgia, serif;
  color: #d89aa9;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-toggler {
  background-color: #d89aa9;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fadade;
  color: #d89aa9;
  font-family: Georgia, serif;
}

.container {
    text-align: center;
}

div img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

body
{
    height: 100%;
    margin:0;
    padding:0;
}

@media only screen and (max-width: 768px) {
    img {
      width: 100%;
      height: auto;
    }
    .brand-initial, .brand-and {
        text-align: center;
    }
  }

  .brand-and {
    font-family: 'Allura', cursive;
  }

 