.brand-and {
    font-family: 'Allura', cursive;
    color:#d89aa9;
  }

.brand-initial {
    font-size: 22px;
    color:#d89aa9;
    font-family: 'Quicksand';
}

.bg-steel {
  background-color: #fadade;
  position: relative;
  z-index: 1;
}

.site-header .navbar-nav .nav-link {
  font-family: 'Quicksand';
  color: #d89aa9;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-toggler {
  background-color: #d89aa9;
}

.navbar-toggler:hover {
    opacity: 0.8;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fadade;
  color: #d89aa9;
  font-family: Georgia, serif;
}

.container {
    text-align: center;
}

.container p {
    opacity: 0;
    animation: slideUp 1.5s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

body
{
    height: 100%;
    margin:0;
    padding:0;
}

.btn:hover {
    opacity: 0.8;
  }

@media only screen and (max-width: 768px) {
    img {
      width: 100%;
      height: auto;
    }
    .brand-initial, .brand-and {
        text-align: center;
    }
  }

  .brand-and {
    font-family: 'Allura', cursive;
  }

  @media only screen and (min-width: 768px) {
    
  }

 