<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Cindy and Giorgo</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel py-3">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">
            <span class="brand-initial">C</span><span class="brand-and"> and </span><span class="brand-initial">&nbsp;G</span>
            </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggle"
            aria-controls="navbarToggle"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav ms-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>  
              <a class="nav-item nav-link" href="/schedule">Schedule</a>  
              <a class="nav-item nav-link" href="/questions">Q + A</a>
              <a class="nav-item nav-link" href="/travel">Travel</a>
              <a class="nav-item nav-link" href="/registry">Registry</a>
              <a class="nav-item nav-link" href="/rsvp">RSVP</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    {% block content %}{% endblock content %}

    <!-- <footer class="text">
        <div class="container text-center">
          <div class="row">
            <div class="col-sm-6">
              <p>Cindy Samaan's & Giorgo Karamanis's Wedding Website | Made by Giorgo Karamanis | Wedding Day on Winter 2024 in Daytona Beach, FL, USA.</p>
            </div>
          </div>
        </div>
      </footer> -->

      <script>
        $(document).ready(function () {
          var url = window.location.pathname;
          // Will only work if string in href matches with location
          $('ul.navbar-nav a[href="' + url + '"]').addClass('active');
      
          // Will also work for relative and absolute hrefs
          $('ul.navbar-nav a').filter(function () {
              return this.href == url;
          }).addClass('active');
      
          window.addEventListener('scroll', function() {
            if (window.scrollY > 0) {
              document.getElementById('navbar_top').classList.add('fixed-top');
              // add padding top to show content behind navbar
              navbar_height = document.querySelector('.navbar').offsetHeight;
              document.body.style.paddingTop = navbar_height + 'px';
            } else {
              document.getElementById('navbar_top').classList.remove('fixed-top');
               // remove padding top from body
              document.body.style.paddingTop = '0';
            } 
          });
      
          // Ensures that the page shows the top on load.
          $(this).scrollTop(0);
        });
      </script>
      
    <!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<!-- Include Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>