{% extends "layout.html" %}
{% block content %}
<body style="background-color: #fadade; margin-left: 50px;margin-right: 50px;">
    <div class="container">
        <div class="row justify-content-center">
            <p style="font-size: 25px; font-family: Quicksand; color: #d89aa9; padding-top: 100px; font-weight: normal; text-transform: uppercase;">HOW DO I RSVP?</p>
            <p style="font-family: Quicksand; font-size: 16px; font-weight: normal;">Please navigate to the RSVP tab on our website, type in your last name to find your party to confirm or decline your invitation. If you have any questions, please contact us.</p>
            
            <p style="font-size: 25px; font-family: Quicksand; color: #d89aa9;  font-weight: normal; text-transform: uppercase;">IS IT OKAY TO TAKE PICTURES OR VIDEOS WITH OUR PHONES AND CAMERAS DURING THE WEDDING?</p>
            <p>During the ceremony, we invite you to be fully present with us and enjoy the moment! We have hired an awesome photographer to capture our special moment for us, so please be cautious about keeping cell phones out of view for our entrance and exit. For the reception, we invite you to take as many photos as you'd like - we will have a special QR code for you to upload any photos you'd like to share with us!</p>
            
            <p style="font-size: 25px; font-family: Quicksand; color: #d89aa9; font-weight: normal; text-transform: uppercase;">IS THE EVENT INDOORS OR OUTDOORS?</p>
            <p>Both the wedding service and reception will be indoors. The church and the reception venue are right next to each other, so your outdoors time in Florida during July will be limited (don't worry, both buildings have state of the art AC units)!</p>
            
            <p style="font-size: 25px; font-family: Quicksand; color: #d89aa9;  font-weight: normal; text-transform: uppercase;">WHAT SHOULD I WEAR?</</p>
            <p>Please dress in cocktail attire. In the church, we ask that you dress respectfully. If your dress is shoulderless and/or backless, a wrap or jacket for use in the church should be worn. At the reception, you may resume regular cocktail attire :)</p>
          </div>
        </div>
      
</body>
{% endblock content %}