{% extends "layout.html" %}
{% block content %}
<body style="background-color: #fadade; margin-left: 50px;margin-right: 50px;">

    <div style="max-width: 800px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
		<h1>Amazon Registry</h1>
		<p>Please visit our Amazon registry to view our gift registry:</p>
		<a href="https://www.amazon.com/wedding/giorgo-karamanis-cindy-samaan--february-2024/registry/8VTV0TGSQESX">
		<button style="background-color:#f7c06c; color: #fff; border: none; padding: 15px 32px; font-size: 16px; cursor: pointer;">View our registry on Amazon</button>
		</a>
	</div>

    <div style="max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
		<h1>Target Registry</h1>
		<p>Please visit our Target registry to view our gift registry:</p>
		<a href="https://www.target.com/gift-registry/gift/giorgo-cindy">
		<button style="background-color:#cc0000; color: #fff; border: none; padding: 15px 32px; font-size: 16px; cursor: pointer;">View our registry on Target</button>
		</a>
	</div>


</body>
{% endblock content %}