{% extends "layout.html" %}
{% block content %}
    <body style="background-color: #fadade">
        <div class="container">
            <h1>Wedding Day</h1>
            <h2>3:00 PM</h2>
            <hr style="background-color:#d89aa9; "/>
            <p style="font-size: 24px; color: #d89aa9; margin-top: 30px; margin-bottom: 30px;">RECEPTION TO FOLLOW</p>
            <hr style="background-color:#d89aa9;"/>
            <p style="font-size: 44px; font-family: Allura; color: #d89aa9; margin-top: 30px" >Attire: Cocktail</p>
        </div>
    </body>
    
{% endblock content %}