{% extends "layout.html" %}
{% block content %}
<style>
    body {
      background-color: #F6F5F1;
    }

    h1 {
      font-family: 'Allura', cursive;
      font-size: 60px;
      text-align: center;
      color: #613a43;
      margin-bottom: 15px;
      margin-top: 50px;
    }

    h2 {
      font-family: 'Corbel', sans-serif;
      font-size: 25px;
      font-weight: 300;
      text-align: center;
      color: #613a43;
      margin-bottom: 20px;
    }
    
    h3 {
      font-family: 'Corbel', sans-serif;
      font-size: 25px;
      font-weight: 300;
      text-align: center;
      color: #613a43;
      margin-bottom: 30px;
    }

    .image-container {
      display: flex;
      justify-content: center;
      margin-bottom: 60px;
    }



    @media screen and (max-width: 767px) {
      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 20px;
    
      }
      .description {
            flex-direction: column;
            text-align: center;
            font-size: 25px;
            margin-bottom: 120px;
            margin-top: 50px;
        }
    
      .description hr {
            transform: rotate(90deg);
            height: 250px;
            margin-bottom: -170px;
            margin-top: -170px;
        }
    
    }

    @media screen and (min-width: 768px) {
        h1 {
            position: relative;
            
        }
        .image-container img{
            max-width: 1200px;
            max-height: 2099px;
        }
        
        .description {
            font-size: 30px;
            margin-bottom: 60px;
        }

        .description hr {
            height: 100px; 
            margin: 0 20px;
        }
    }

    @media screen and (max-width: 480px) {
      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 20px;
      }

      h3 {
        font-size: 20px;
      }

    }

    .header {
      width: 100%;
      height: 100px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      background-color: transparent;
    }

  </style>
</head>
<body>
  <div class="header"></div>
  <div style="margin-top: 60px;">
    <h1>Cindy &amp; Giorgo</h1>
    <h2>2.25.2024 <strong>·</strong> Daytona Beach, FL</h2>
    <h3 id="countdown"></h3>
  </div>
  <div class="image-container">
    <img src="../static/landscape.jpeg" alt="wedding">
  </div>
  <div class="description" style="display: flex; justify-content: center; align-items: center;">
    <div style="font-family: 'Corbel', sans-serif; color: #613a43; font-weight: 300;">February 25, 2024</div>
    <hr style="border-left: 1px solid #613a43; opacity: 0.8;"/>
    <div style="font-family: 'Corbel', sans-serif; color: #613a43; font-weight: 300;">Daytona Beach, FL</div>
  </div>
  <div style="margin-bottom: 100px;">
    <div style="
        font-family: 'Allura', cursive;
        font-weight: 300;
        color: #613a43;
        text-align: center;
        font-size: 30px;
        ">Wedding Day</div>
    <div style="
        font-family: 'Corbel', sans-serif;
        font-weight: 300;
        text-align: center;
        color: #613a43;
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 30px;
        ">2:00 PM</div>

        <hr style="background-color: #613a43; opacity: 0.2; margin: 0 auto;
        width: 50%;"/>
        <p style="font-weight: 300; font-size: 20px; color: #613a43; margin-top: 30px; margin-bottom: 30px; text-align: center;">RECEPTION TO FOLLOW</p>
        <hr style="background-color: #613a43; opacity: 0.2; margin: 0 auto;
        width: 50%;"/>
        <p style="font-size: 25px; font-family: Allura; color: #613a43; margin-top: 30px; text-align: center; margin-bottom: 30px;">Attire: Cocktail</p>
    </div>
  </div>
</body>

<script>
    var targetDate = new Date("February 25, 2024").getTime();
    var countdownEl = document.getElementById("countdown");

    setInterval(function() {
      var currentDate = new Date().getTime();
      var daysToGo = Math.ceil((targetDate - currentDate) / (1000 * 60 * 60 * 24));
      countdownEl.innerHTML = daysToGo + " days to go!";

      if (countdownEl.style.display === "none") {
        countdownEl.style.display = "block";
        setTimeout(function() {
          countdownEl.style.opacity = 1;
        }, 100);
      }
    }, 100);
  </script>

<script>
    window.onload = function() {
        window.scrollTo(0, 0);
    }
</script>

{% endblock content %} 