{% extends "layout.html" %}
{% block content %}
<style>
    body {
      background-color: #F6F5F1;
    }

    h1 {
      font-family: 'Allura', cursive;
      font-size: 60px;
      text-align: center;
      color: #2E402D;
      margin-bottom: 20px;
    }

    h2 {
      font-family: 'Quicksand';
      font-size: 35px;
      text-align: center;
      color: #2E402D;
      margin-bottom: 40px;
    }

    .image-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 100px;
    }

    .image-container img {
      margin: 10px;
      animation: slideUp 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    @keyframes slideUp {
      0% {
        transform: translateY(100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @media screen and (max-width: 768px) {
      h1 {
        font-size: 40px;
      }

      h2 {
        font-size: 25px;
      }

      .image-container img {
        width: 250px;
        height: 188px;
      }
    }

    @media screen and (max-width: 480px) {
      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 20px;
      }

      .image-container img {
        width: 100%;
        height: auto;
      }
    }
  </style>
</head>
<body>
  <div style="margin-top: 100px;">
    <h1>Cindy &amp; Giorgo</h1>
    <h2>2.25.2024 <br> Daytona Beach, FL</h2>
  </div>
  <div class="image-container">
    <img src="../static/wedding1.jpeg" alt="wedding" style="width: 400px; height: 600px; animation-delay: 0.2s;">
    <img src="../static/wedding3.jpeg" alt="wedding" style="width: 400px; height: 600px; animation-delay: 0.5s;">
    <img src="../static/wedding2.jpeg" alt="wedding" style="width: 400px; height: 600px; animation-delay: 0.8s;">
  </div>
</body>
{% endblock content %} 