{% extends "layout.html" %}
{% block content %}

<body style="background-color: #F6F5F1;">
<h2 style="margin-top: 100px; text-align: center; color: #996515; font-family: 'Allura', cursive;">Wedding Day</h2>
<h6 style="text-align: center; color: #a3742c; font-family: 'Quicksand';margin-bottom: 30px;">at 2:00 PM</h4>
<form action="/submit-rsvp" method="POST" class="form-group text-center mx-auto">
    {% for guest in guests %}
        <div class="input-group" style="color: #a3742c; margin-bottom: 30px;">
                <div class="col-4" style="font-size: 25px; font-family: 'Corbel', sans-serif; font-weight: 300; margin-right: 15px;">
                {{ guest.first_name }} {{ guest.last_name }}
                </div>
                    <button type="button" onclick="toggleRSVP(this)" class="btn btn-primary btn-lg d-block col-4" style="border-color: #a3742c; height: 40px;
                                    width: 124px;
                                    font-size: 16px;
                            border-radius: 2px;" id="{{ guest.id }}_accepted">Accept</button>
                            &nbsp;
                    <button type="button" onclick="toggleRSVP(this)" class="btn btn-primary btn-lg d-block col-4" style="border-color: #a3742c; height: 40px;
                    width: 124px;
                    font-size: 16px;
                    border-radius: 2px;" id="{{ guest.id }}_declined">Decline</button>


                <style>
                .btn:hover, .btn:focus {
                  background-color: #a3742c;
                  border-color: #a3742c;
                  box-shadow: none;
                }
                </style>

		<textarea id="{{ guest.id }}_allergies" name="{{ guest.id }}_allergies" class="form-control col-4" style=" height: 40px;
                max-width: 200px;
                font-size: 16px; resize: none; border-radius: 2px; border-color: #a3742c; margin-left: 15px;" placeholder="List Allergies"></textarea>
                <input type="hidden" id="{{ guest.id }}_response" name="{{ guest.id }}_response">
	</div>
    {% endfor %}

      	<input name="message_to_couple" id="message_to_couple" width="200px" height="100px" type="text" placeholder="Write a message to Cindy and Giorgo!">
	<script>
	    function toggleRSVP(button) {
		if (button == null) return;

		// Get the guest ID by string.
		var buttonId = button.id;
		var guestId = buttonId.substring(0, buttonId.indexOf("_"))

		// Here you are going to take in which button got clicked and set the value of the rsvp_value input element to whatever button got clicked and update the forecolor of both buttons.
		var accepted = document.getElementById(guestId + '_accepted')
		var declined = document.getElementById(guestId + '_declined')

		    if (buttonId == guestId + '_accepted') {
			accepted.classList.add('btn-primary')
			accepted.classList.remove('btn-outline-primary')
			declined.classList.add('btn-outline-primary')
			declined.classList.remove('btn-primary')
			document.getElementById(guestId + '_response').value = true;
		    } else if (buttonId == guestId + '_declined') {
			declined.classList.add('btn-primary')
			declined.classList.remove('btn-outline-primary')
			accepted.classList.add('btn-outline-primary')
			accepted.classList.remove('btn-primary')
			document.getElementById(guestId + '_response').value = false;
		    }

	    }
	</script>
    <button type="submit" class="btn btn-primary btn-lg mx-auto d-block" style="background-color: #a3742c; border-color: #a3742c; border-radius: 5px; cursor: pointer; margin-top: 40px; width: 200px; height: 40px; font-size: 16px;">Submit</button>

    <div id="alert-container" class="alert alert-danger alert-dismissible fade show d-none" role="alert" style="width: 250px; margin: 0 auto; padding-left: 40px; margin-top: 30px;">
        Please complete the RSVP form!
      </div>

    <script>
        function checkRSVP() {
            var buttons = document.querySelectorAll('[id$="_response"]');
            for (var i = 0; i < buttons.length; i++) {
                if (buttons[i].value === '') {
                    return false;
                }
            }
            return true;
        }

        document.querySelector('form').addEventListener('submit', function(event) {
            if (!checkRSVP()) {
                event.preventDefault();
                var alert = document.getElementById('alert-container');
                alert.classList.remove('d-none');

            }
        });
    </script>

</form>
</container>

<style>
    @media screen and (max-width: 768px) {
      h2 {
        font-size: 30px;
      }
      h6 {
        font-size: 20px;
      }
      .input-group {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .input-group button {
        width: 100%;
        margin-bottom: -20px;
      }
      .input-group .form-control {
        margin-top: 30px;
      }

      .input-group > div {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .btn {
        height: 30px;
        width: 100px;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .input-group .form-control {
        height: 30px;
        width: 200px;
        font-size: 14px;
      }
    }

    @media screen and (min-width: 768px) {
        .input-group {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 800px;
        padding: 15px;
        }

    }
</style>

</body>
{% endblock content %}
